/*
Project Name: Govinda Gallery 2015
Client: Chris Murray
Author: Anna Jacoby
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******link color override*****/
a:visited { text-decoration: none; color:#BDC6CA; }
a:hover { text-decoration: none; color:#BDC6CA; }
a:focus { text-decoration: none; color:#BDC6CA; }
a:hover, a:active { text-decoration: none; color:#BDC6CA }

/******************************************
/* BASE STYLES
/*******************************************/
/* Center the container 
.container{
  max-width: 960px;
  margin: 0 auto;
}
*/

body{
  line-height: 1.4;
  font-family: Garamond, serif;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  color: #444;
  background: #161616;
}

h1{
  margin-top: 30px;
}

h1 a:link{
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 20px;
  color: #BDC6CA;
  border: none;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  padding-top:10px;
  margin: 0px auto;
  word-spacing: 3em;

}

h2{
  font-family: Century gothic, serif;
  font-weight: 400;
  text-align: center;
  border-bottom: 2px solid #161616;
  padding-bottom: 10px;
  margin-bottom: 5px;
}

h3{
  font-family: Century gothic, serif;
  font-weight: 600;
  font-size: 14px;
  text-align: left;
  text-transform: uppercase;
}

header{
  width: 100%
}

.glogo{
    position: absolute;
    left: 47.6%;
}

header nav {
  text-align: center;
  margin: 85px 0px auto;
  display: inline-block;
  width: 100%;
}

header nav ul li {
  display: inline-block;
  margin: 12px auto;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
  font-family: Century gothic, serif;
  text-align: center;
}

li:hover{
  text-decoration: underline;
}

li:first-of-type{
  padding-left: 0px;
}

header nav ul li a {
  color: #bdc6ca;
  text-decoration: none;
  text-transform: uppercase;
}

/****
img{
  position: absolute;
  display: inline-block;
  }
****/

/*****HOME PAGE*****/

.main{
    width: 950px;
    height: 1400px;
    margin: 0px auto;
    padding: 0px;
    border: 10px solid #bdc6ca;
    background: #fff;
}

.slide{
}

hr{
  width: 95%;
  background-color: #bdc6ca;
  height: 2px;
  border: none;

}

.exhibits{
  width: 47%;
  height: 220px;
  float: left;
  border: 6px solid #bdc6ca;
  margin: 10px 0px 10px 15px;
  padding: 0px 25px;
}

.connect{
  width: 47%;
  height: 220px;
  float: right;
  border: 6px solid #bdc6ca;
  margin: 10px 15px 10px 0px;
  padding: 0px 25px;
}

.connect img{
  float: left;
}

.connect ul li{
  float: left;
  list-style: none;
  margin: 0px auto;
  padding-left: 60px;
  display: inline-block;
}

article p{
  font-size: 14px;
  color: #bdc6ca;
  text-align: center;
}

/*******ARTIST HOME PAGE*******/

.artists{
  height: 1900px;
  width: 970px;
}

.artists ul{
  list-style: none;
  margin-top: 2px;
}

.artists ul li{
  display: inline-block;
  height: 160px;
  width: 200px;
  text-transform: uppercase;
  margin: 40px 10px auto;
  text-align: center;
  border: 1px solid; 
  border-width: thin; 
  border-color: #717679;
}

.artists h2{
  margin: 20px 40px 5px;
}

.artists h3{
  text-transform: none;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 0;
}

.thumb{
  position: relative;
  z-index: 20;
}
/******INDIVIDUAL ARTIST PAGES******/

/******EXHIBITIONS PAGE******/

.exhibit-artwork{
    float: left;
    width: 300px;
}

.exhibit-blurb{
    margin-left: 330px;
    padding-left: 25px;
    border-left: 1px solid #e3e8ea;
}

/******PUBLICATIONS PAGE******/

/******BLOG******/

#bloglogo{
  margin: 18px 165px auto;
}

.blogpost{
  margin: 30px 0 30px 30px;
  width: 700px;
}

.blogpost h2{
  text-align: left;
  border: none;
  font-size: 1.8em;
}

.blogpost p{
  text-align: left;
  color: #161616;
  font-size: 15px;
  font-family: Arial, Helvetica, "Lucida Grande", sans-serif;
}

/******CONTACT******/

.about{
  margin: 20px 40px 5px;
}

.abouttext{
  margin: 30px 75px 0px;
  color: #161616;
  font-size: 15px;
  font-family: Arial, Helvetica, "Lucida Grande", sans-serif;
}

.caption{
  font-size: 10px;
  margin: 0px auto;
}

.contactform{
  width: 781px;
  height: 300px;
  border: 6px solid #bdc6ca;
  margin: 10px 75px;
  padding: 0px 25px;
}

/******RESPONSIVE 650px******/
@media screen and (max-width:650px){

 .hamburger-icon:before { 
    content:'\2630';
    color: #bdc6ca; 
    font-size: 2em;
    cursor: pointer;
  }

  .desktop-only{
    display: none;
  }

}